<header class="navbar">
    <div class="navbar__box">
        <a class="navbar__logo" href="/"><h3>LOGO</h3></a>
    </div>
    <div class="navbar__box">
        {% include 'components/searchbar.html' %}
    </div>
    <div class="navbar__box">
        {% if user is not none %}
            <span class="navbar__user">hi {{ user.username }}</span>
            <a href="/logout" class="navbar__button">Logout</a>
        {% else %}
            <a href="/login" class="navbar__button">SignIn</a>
            <a href="/register" class="navbar__button">SignUp</a>
        {% endif %}
    </div>
</header>
