<header class="navbar">
    <div class="navbar__box">
        <a class="navbar__logo" href="/">
            <h3>LOGO</h3>
        </a>
    </div>
    <div class="navbar__searchbar">{% include 'components/searchbar.html' %}</div>
    <div class="navbar__box">
        {% if user %}
            {% include 'components/cart_badge.html' %}
            {% include 'components/notifications_badge.html' %}
            <a class="navbar__user" href="/profile">{{ user.username }}</a>
            <a href="/logout" class="button">Logout</a>
        {% else %}
            <a href="/login" class="button">SignIn</a>
            <a href="/register" class="button">SignUp</a>
        {% endif %}
    </div>
</header>
