{% if pages|length != 1 %}
    <div class="lib__pagination">
        {% if pages[0] != 1 %}<a href="1" class="lib__btn">1</a>{% endif %}
        {% if pages[0] > 2 %}<span>...</span>{% endif %}
        {% for p in pages %}
            {% if page == p %}
                <a href="{{ p }}" class="lib__btn lib__disabled">{{ p }}</a>
            {% else %}
                <a href="{{ p }}" class="lib__btn">{{ p }}</a>
            {% endif %}
        {% endfor %}
        {% if pages[-1] < last_page - 1 %}<span>...</span>{% endif %}
        {% if pages[-1] != last_page %}<a href="{{ last_page }}" class="lib__btn">{{ last_page }}</a>{% endif %}
    </div>
{% endif %}
