html {
    background: var(--page-background);
    color: var(--main-foreground);
    --library-border: #8B4513;
    --library-separator: #6F4E37;
    --detail-border: #0000ff;
    --detail-background: #0000ff80;
}

.lib__container {
    display: flex;
    justify-content: center;
}

.lib__item {
    display: flex;
    flex-direction: column;
    min-width: 50%;
}

.lib__library {
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.own__item {
    text-align: center;
    flex: 0 1 auto;
}

.own__details {
    width: 100px;
    position: absolute;
}

.detail__box {
    border-radius: 10px;
    border: 2px solid var(--detail-border);
    background-color: var(--detail-background);
    position: relative;
    top: -65px;
    left: 85px;
}

.lib__btn {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    color: #000;
    background: var(--accent-color);
    text-decoration: none;
}

.lib__disabled {
    color: var(--accent-color);
    background: transparent;
    border: 2px solid var(--accent-color);
    text-decoration: none;
}

.own__title {
    margin: 10px;
}

.own__separator {
    border: 10px solid var(--library-separator);
}

.lib__pagination {
    display: flex;
    justify-content: center;
}

.lib__title {
    text-align: center;
}

.lib__add {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add__btn {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-foreground);
    font-size: 50px;
    padding: 0px 20px;
    border: 5px solid var(--library-separator);
    border-radius: 1000px;
}
