h1 {
    text-align: center;
}

hr {
    border: 0;
    height: 20px;
}

.book__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book__cover {
    width: 250px;
    margin-bottom: 10px;
}

.container {
    background: #EDEBE8;
}
