h1 {
    text-align: center;
}

br {
    height: 20px;
}

.book__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book__cover {
    width: 250px;
    margin-bottom: 10px;
}

.footer {
    padding: 25px;
    border-radius: var(--border-radius);
    background: var(--secondary-background);
}

.insertions {
    display: flex;
    overflow: auto;
}

.insertion {
    padding: 20px;
    margin: 10px;
    border-radius: var(--border-radius);
    border: 5px;
}

.insertion__header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.book__insertion {
    margin: 20px;
}

.insertion__quantity {
    font-size: var(--font-size);
    padding: 4px 0px;
}
