* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: var(--page-background);
    color: var(--main-foreground);
    --font-size: 16px;
    --font-sans-serif: "Roboto", sans-serif;
    --font-serif: "Roboto Slab", serif;
}

body {
    font-family: var(--font-sans-serif);
}

.content {
    padding-left: 15%;
    padding-right: 15%;
    overflow-x: hidden;
}
