* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-size: 16px;
    --font-sans-serif: "Roboto", sans-serif;
    --font-serif: "Roboto Slab", serif;
    --border-radius: 5px;
}

html {
    background: var(--page-background);
    color: var(--main-foreground);
}

body {
    font-family: var(--font-sans-serif);
}

.content {
    padding-left: 15%;
    padding-right: 15%;
    overflow-x: hidden;
}
