.history__list {
    margin: 20px;
}

.history__empty {
    color: #000;
}

.history__list table {
    width: 100%;
}

.history__image {
    width: 250px;
}

.history__info {
    width: 50%;
    padding: 20px;
}

.history__info span {
    font-size: 24px;
    font-weight: 500;
}

.history__info a {
    color: #000;
}

.history__info div {
    margin: 20px;
}

.history__rating {
    width: 40%;
}

.history__rating textarea {
    width: 500px;
    height: 120px;
    background: var(--background-color);
    color: #000;
    border: 2px solid black;
    resize: none;
    margin: 10px;
    padding: 5px;
}
