:root {
    --cover-width: 200px;
}

.greeter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.greeter h1 {
    font-family: var(--font-serif);
}

.greeter h2 {
    font-weight: 300;
}

.greeter .shortcuts {
    display: flex;
}

.display__category__books {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 5;
}
