.lib__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icon {
    text-decoration: none;
    color: var(--main-foreground);
}

.library__item {
    font-size: var(--font-size);
    font-weight: 500;
    background: var(--accent-color);
    color: var(--main-foreground);
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: 5px;
    background: #dddbd9;
    display: grid;
    padding-right: 20px;
    padding-left: 20px;
}

.lib__library {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button--current {
    background: var(--accent-color);
}

.button--noncurrent {
    color: var(--yellow6);
    border: 2px solid var(--yellow6);
    background: transparent;
    text-decoration: none;
}

.lib__pagination {
    display: flex;
    justify-content: center;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button--add {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-foreground);
    font-size: 25px;
    padding: 0px 20px;
    background: var(--accent-color);
    border-radius: var(--border-radius);
}
