.navbar {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1;
    align-items: center;
    width: 100%;
    padding: 30px 10%;
    border: 2px;
    border-color: #000;
}

.navbar__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__user {
    margin: 10px;
    color: var(--main-foreground);
}

.navbar__button {
    position: relative;
    font-size: var(--font-size);
    font-weight: 500;
    background: var(--accent-color);
    color: var(--main-foreground);
    text-decoration: none;
    overflow: hidden;
    border-radius: var(--border-radius);
    border: none;
    padding: 8px 10px;
    margin: 5px;
}

/* SEARCH BAR */

.search-bar__input::placeholder,
.search-bar__icon {
    color: var(--input-foreground);
    color: rgba(0, 0, 0, 0.50);
}

.search-bar__box {
    --padding: 10px;
    filter: brightness(110%);
    width: max-content;
    align-items: center;
    display: flex;
    border-radius: 28px;
    padding: var(--padding);
    background: var(--input-background);
    border: 1px;
    border-color: var(--main-foreground);
    border-style: solid;
    width: 100%;
    transition: background 1s;
}

.search-bar__input {
    border: none;
    font-family: var(--font);
    color: var(--input-foreground);
    margin-left: var(--padding);
    outline: none;
    border: none;
    font-size: var(--font-size);
    background: transparent;
    flex: 1;
}

.search-bar__icon {
    background: var(--input-background);
    margin-left: var(--padding);
}
