:root {
  --page-background: #f7f5f2;
  --main-foreground: #0e0d0b;
  --secondary-background: #e1cc9d;
  --normal-button-background: #5e5c64;
  --navbar-background: var(--secondary-background);
  --input-background: var(--page-background);
  --input-foreground: var(--main-foreground);
  --accent-color: #e0b861;
  --warning: #f8e45c;
  --error: #ed333b;
}
