:root {
    --cover-width: 200px;
}

.search__books {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search__book {
    padding: 10px 5px;
}

.search__filters {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.search__item {
    padding: 0px 5%;
}

.book__container {
    width: var(--cover-width);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book__cover {
    width: var(--cover-width);
}

.book__meta {
    width: var(--cover-width);
    padding-left: 10px;
}

.book__meta__author,
.book__meta__title {
    word-wrap: break-word;
    overflow: hidden;
    font-family: sans-serif;
}

.book__meta--author {
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.50);
}

.book__meta--title {
    margin-bottom: 0px;
    font-weight: 500;
}

.dropdown {
    display: inline-block;
    cursor: pointer;
    font-size: var(--font-size);
    font-weight: 500;
    background: var(--accent-color);
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.dropdown .anchor {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.dropdown ul.dropdown__items {
    padding: 2px;
    display: none;
    margin: 0;
    border-top: none;
    background: var(--page-background);
}

.dropdown.visible {
    border-radius: 5px 5px 0px 0px;
}

.dropdown.visible .dropdown__items {
    display: block;
    position: absolute;
    padding: 8px;
    border: 2px solid var(--accent-color);
    border-radius: 0px 5px 5px 5px;
}

.dropdown ul.dropdown__items li {
    list-style: none;
    padding: 2px;
}
