{% extends "layout.html" %}
{% block pagestyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/library.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
{% endblock pagestyles %}
{% block content %}
    {% if items|length == 0 %}
        <h2>Your cart is empty</h2>
        You can <a href="/">find new books here</a>
    {% else %}
        <form action="/cart" method="post">
            <table style="width: 100%">
                <tr>
                    <td>{% include "components/cart.html" %}</td>
                    <td class="cart__buy">
                        <div>
                            <span class="cart__total">Total: {{ '%0.2f'|format(total / 100) }}</span>
                            <input type="submit" class="button button--current" value="Buy" />
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock content %}
