{% extends "layout.html" %}

{% block pagestyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/stars.css') }}">
{% endblock pagestyles %}

{% block content %}
    {% from 'components/stars.html' import stars %}

    <h1>History</h1>
    <div class="history__border">
        {% if hsts|length == 0 %}
            You havent bought any books, you can find them here :D
        {% endif %}

        {% for hst in hsts %}
            <div class="history__book">
                <div class="history__left">
                    <b>{{ hst.book.title }}</b> (isbn: {{ hst.book.isbn }}) <br>
                    Status: {{ hst.status }} <br>
                    State: {{ hst.state }} <br>
                    Payed Price: {{ '%0.2f'|format(hst.price / 100) }} <br>
                    <img width=200 src="{{ url_for('static', filename='covers/' ~ hst.book.id ~ ".png") }}"
                         onerror="this.src='{{ url_for('static', filename='images/404.png') }}'" />
                </div>
                <div class="history__right">
                    {% if not hst.review %}
                        <form action="/history" method="POST">
                            <input type="hidden" id="hid" name="hid" value="{{ hst.id }}"><br>

                            <p>Rating:
                                {{ stars(None, "", True) }}
                            </p>

                            <label for="review">Review:</label><br>
                            <textarea id="review" name="review"></textarea><br>
                            <input type="submit" class="button" value="Send Review">
                        </form>
                    {% else %}
                        <p>Rating:
                            {{ stars(hst.id, hst.stars) }}
                        </p>
                        <textarea disabled>{{ hst.review }}</textarea>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock content %}
