{% extends "layout.html" %}
{% block pagestyles %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/home.css') }}">
{% endblock pagestyles %}
{% block content %}
    {% from 'components/book.html' import display_book %}
    <div class="greeter">
        {% if user is none %}
            <h1>Welcome to BookWorm</h1>
            <h2>The best place for your books</h2>
        {% else %}
            <h1>Welcome Back {{ user.username }}</h1>
            <div class="shortcuts">
                <a href="/library" class="button button--primary">Library</a>
                <a href="/history" class="button button--secondary">History</a>
                {% if user.seller %}
                    <a href="/orders" class="button button--secondary">Orders</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="display">
        {% for genre in books %}
            <div class="display__category">
                <h1 class="display__category__title">{{ genre[0] }}</h1>
                <hr>
                <div class="display__category__books">
                    {% for book in genre[1] %}{{ display_book(book, generes=False, isbn=False) }}{% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
