{% extends 'layout.html' %}
{% block pagestyles %}
    <link rel='stylesheet' href='{{ url_for('static', filename='index.css') }}' />
{% endblock pagestyles %}
{% block content %}
    {% include 'components/navbar.html' %}
    <div class='homepage'>
        <div class='homepage__title' align='center'>
            <h1>WELCOME TO {SITENAME}</h1>
            <h2>The best site for your books</h2>
        </div>
        <div class='homepage__grid--filters'>
            <button class='homepage__filter'></button>
            <button class='homepage__filter'></button>
            <button class='homepage__filter'></button>
            <button class='homepage__filter'></button>
        </div>
    </div>
{% endblock content %}
