{% extends "layout.html" %}
{% block pagestyles %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/home.css') }}">
{% endblock pagestyles %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="messages">
                {% for msg in messages %}
                    {{ msg }}
                    <br>
                {% endfor %}
                <a class="close" href="/">&times;</a>
            </div>
        {% endif %}
    {% endwith %}
    {% include 'components/navbar.html' %}
    <div class="home__greeter">
        {% if user is none %}
            <h1>WELCOME TO BOOKWORM</h1>
            <h2>The best place for your books</h2>
        {% else %}
            <h1>WELCOME BACK {{ user.username }}</h1>
            <div class="home__greeter--shortcuts">
                <a href="/library"
                   class="home__greeter--shortcut home__greeter--shortcut--primary">Library</a>
                <a href="/history"
                   class="home__greeter--shortcut home__greeter--shortcut--secondary">History</a>
            </div>
        {% endif %}
    </div>
    <div class="home__library">
        {% for genre in books %}
            <div class="home__library--box">
                <h1 class="home__library--box__title">{{ genre[0] }}</h1>
                <div class="home__library--box__books">
                    {% for book in genre[1] %}
                        <img class="home__library--box__book"
                             width="200"
                             src="{{ url_for('static', filename='covers/' ~ book.id ~ ".png") }}"
                             onerror="this.src='{{ url_for('static', filename='images/404.png') }}'" />
                    {% endfor %}
                </div>
                <div class="home__library--box__footer"></div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
