<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/palette.css') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/global.css') }}" />
        {% block pagestyles %}{% endblock %}
    </head>
    <body class="{{ template }}">
        {% block content %}{% endblock %}
    </body>
</html>
