{% extends "layout.html" %}
{% block pagestyles %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/library.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock pagestyles %}
{% block content %}

{% include 'components/navbar.html' %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            {{ msg }}<br>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="lib__container">
    <div class="lib__item">
        <h1 class="lib__title"> {{ user.username }}'s library </h1>
        <div class="lib__library">
            {% for own in owns %}
                <div class="own__item">
                    {% with book = own.book %}
                       <img
                            width=200
                            src="{{ url_for('static', filename='covers/' ~ book.id ~ ".png") }}"
                            onerror="this.src='{{ url_for('static', filename='images/404.png') }}'"
                        />
                        <div class="own__details">
                            <div class="detail__box">
                                <span> {{ own.state }} </span>
                                <br/>
                                <span> x{{ own.quantity }} </span>
                            </div>
                        </div>
                        {% if own.price %}
                            <a class="lib__btn"
                               href="/insertion/update/?book={{ own.fk_book }}&bookstate={{ own.state }}&quantity={{ own.quantity }}&oldprice={{ own.price }}"> edit </a>
                            <a class="lib__btn"
                               href="/insertion/unlist/?book={{ own.fk_book }}&bookstate={{ own.state }}">remove</a>
                        {% elif own.user.seller %}
                            <a class="lib__btn"
                               href="/insertion/list/?book={{ own.fk_book }}&bookstate={{ own.state }}">create</a>
                        {% endif %}
                    </div>
                {% endwith %}
            {% endfor %}
            {% if page == last_page %}
                <div class="lib__add">
                    <a href="/book/add" class="add__btn">+</a>
                </div>
            {% endif %}
        </div>
        {% include "components/pagination.html" %}
    </div>
</div>
{% endblock content %}
