{% extends "layout.html" %}
{% block pagestyles %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/library.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/form.css') }}">
{% endblock pagestyles %}
{% block content %}
    <form action="/insertion/list/" method="POST" class="form">
        <div class="form__title">
            <h1>List Book</h1>
        </div>
        <input type="hidden" id="book" name="book" value="{{ book }}">
        <br>
        <input type="hidden" id="bookstate" name="bookstate" value="{{ bookstate }}">
        <br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="0" value="0">
        <br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" min="0" value="0" step=".01">
        <br>
        <input type="submit" value="List">
    </form>
{% endblock content %}
