{% extends "layout.html" %}
{% block pagestyles %}
<link rel="stylesheet"
    href="{{ url_for('static', filename='css/form.css') }}"/>
{% endblock pagestyles %}
{% block content %}
    <form action="/login/" method="POST" class="form">
        <div class="form__title">
            <h1>Login into BookWorm</h1>
        </div>
        <input type="hidden" id="link", name="link" value="{{ link }}">
        <label for="usr">Username</label>
        <input type="text" id="usr" name="usr">
        <br>
        <label for="pwd">Password</label>
        <input type="password" id="pwd" name="pwd">
        <br>
        <input type="submit" value="Login">
    </form>
{% endblock content %}
