{% extends "layout.html" %}
{% block pagestyles %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/library.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/orders.css') }}">
{% endblock pagestyles %}
{% block content %}
    <div>
        <h1>Processing</h1>
        <hr>
        <div class="orders">
            {% for order in processing %}
                {% include 'components/order.html' %}
                <br />
            {% else %}
                Nothing here...
            {% endfor %}
        </div>
        <h1>Shipping</h1>
        <hr>
        <div class="orders">
            {% for order in shipping %}
                {% include 'components/order.html' %}
                <br />
            {% else %}
                Nothing here...
            {% endfor %}
        </div>
        <h1>Delivered</h1>
        <hr>
        <div class="orders">
            {% for order in done %}
                {% with delivered = true %}
                    {% include 'components/order.html' %}
                    <br />
                {% endwith %}
            {% else %}
                Nothing here...
            {% endfor %}
        </div>
    </div>
{% endblock content %}
