{% extends "layout.html" %}
{% block pagestyles %}
<link rel="stylesheet"
    href="{{ url_for('static', filename='css/form.css') }}"/>
{% endblock pagestyles %}
{% block content %}
    <form action="/register/" method="POST" class="form">
        <div class="form__title">
            <h1>Create your BookWorm Account</h1>
        </div>
        {{ regform.csrf_token }}
        {{ regform.usr.label }} {{ regform.usr }}
        <br>
        {{ regform.frname.label }} {{ regform.frname }}
        <br>
        {{ regform.lsname.label }} {{ regform.lsname }}
        <br>
        {{ regform.pwd.label }} {{ regform.pwd }}
        <br>
        {{ regform.checkpwd.label }} {{ regform.checkpwd }}
        <br>
        <div class="checkbox__container">
            {{ regform.seller.label }} {{ regform.seller }}
        </div>
        <br>
        {{ regform.sub }}
    </form>
{% endblock content %}
