{% extends "layout.html" %}
{% block pagestyles %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='navbar.css') }}" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='search.css') }}" />
{% endblock pagestyles %}
{% block content %}
    {% include 'components/navbar.html' %}
    <div class="search__books">
        {% for book in books %}
            <img class="search__book"
                 width="200"
                 src="{{ url_for('static', filename='covers/' ~ book.id ~ ".png") }}"
                 onerror="this.src='{{ url_for('static', filename='404.png') }}'" />
        {% endfor %}
    </div>
{% endblock content %}
