{% extends "layout.html" %}
{% block pagestyles %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/library.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/stars.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/seller.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/components/stars.css') }}">
{% endblock pagestyles %}
{% block content %}
    {% from 'components/stars.html' import stars %}
    <div class="seller__title">
        <h1>Seller {{ seller.username }}</h1>
        {% with star = seller.stars() %}
            {% if star %}
                {{ stars(seller.username, star.vote) }}
                ( {{ star.total }} )
            {% endif %}
        {% endwith %}
    </div>
    <div class="seller__books">
        <h1>Books:</h1>
        <hr>
        <div class="seller__insertions">
            {% for insertion in insertions %}
                <div class="seller__info">
                    <h3>{{ insertion.book.title }}</h3>
                    <a href="/book/{{ insertion.fk_book }}">
                        <img width="200"
                             src="{{ url_for('static', filename='covers/' ~ insertion.fk_book ~ ".png") }}"
                             onerror="this.src='{{ url_for('static', filename='images/404.png') }}'" />
                    </a>
                    <div>{{ insertion.state }} x{{ insertion.quantity }}</div>
                </div>
            {% else %}
                Nothing on sale for now
            {% endfor %}
        </div>
    </div>
    {% if reviews|length != 0 %}
        <div>
            <h1>Reviews:</h1>
            <hr>
            <table class="seller__review">
                {% for review in reviews %}
                    <tr>
                        <td style="width: 40%">
                            <div class="seller__review__left">
                                {{ review.buyer.username }}
                                {{ stars(review.buyer.username, review.stars) }}
                            </div>
                            <div>Bought "{{ review.book.title }}" ({{ review.state }})</div>
                        </td>
                        <td>
                            <textarea disabled> {{ review.review }} </textarea>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock content %}
