{% extends "layout.html" %}
{% block pagestyles %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/library.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/components/form.css') }}">
{% endblock pagestyles %}
{% block content %}
    <form action="/insertion/unlist/" method="POST" class="form">
        <div class="form__title">
            <h1>UnList Book</h1>
        </div>
        <input type="hidden" id="book" name="book" value="{{ book }}">
        <br>
        <input type="hidden" id="bookstate" name="bookstate" value="{{ bookstate }}">
        <br>
        <input type="hidden" id="price" name="price" value="{{ price }}" step=".01">
        <br>
        <label for="quantity">Quantity:</label>
        <input type="number"
               id="quantity"
               name="quantity"
               min="0"
               value="{{ quantity }}">
        <br>
        <input type="submit" value="Unlist">
    </form>
{% endblock content %}
