{% extends "layout.html" %}
{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='library.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='palette.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
{% endblock pagestyles %}

{% block content %}

{% include 'components/navbar.html' %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            {{ msg }}<br>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>UnList Book</h1>
<form action="/manager/unlist/" method="POST">
    <input type="hidden" id="book" name="book" value="{{ book }}"><br>
    <input type="hidden" id="bookstate" name="bookstate" value="{{ bookstate }}"><br>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity", min="0", value="0"><br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price", min="0", value="0"><br>
    <input type="submit" value="List">

    <input type="submit" value="Unlist">
</form>

{% endblock content %}
