{% extends "layout.html" %}
{% block pagestyles %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/library.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/components/form.css') }}">
{% endblock pagestyles %}
{% block content %}
    <form action="/insertion/update/" method="POST" class="form">
        <div class="form__title">
            <h1>Update Book</h1>
        </div>
        <input type="hidden" id="book" name="book" value="{{ book }}">
        <br>
        <input type="hidden" id="bookstate" name="bookstate" value="{{ bookstate }}">
        <br>
        <input type="hidden" id="quantity" name="quantity" value="{{ quantity }}">
        <br>
        <input type="hidden" id="oldprice" name="oldprice" value="{{ oldprice }}", step=".01">
        <br>
        <label for="newprice">New Price:</label>
        <input type="number" id="newprice" name="newprice" min="0" value="0" step=".01">
        <br>
        <input type="submit" value="Update">
    </form>
{% endblock content %}
