.star-rating {
    direction: rtl;
    display: inline-block;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #bbb;
    cursor: pointer;
    display: inline-block;
    transition: color 0.3s ease;
}

.star-rating input[type="radio"]:not(:disabled)~label:hover,
.star-rating input[type="radio"]:not(:disabled)~label:hover~label {
    color: gold;
}

.star-rating input[type="radio"]:checked~label {
    color: gold;
}

.star-rating input[type="radio"]:disabled~label {
    pointer-events: none;
    cursor: not-allowed;
}

.star-rating:not(:hover) input[type="radio"]:checked~label {
    color: gold;
}
